# dependencies
node_modules/
# testing
coverage/
# next.js
.next/
out/
# production
build/
# Mac OS
.DS_Store
# logs
*.log
# environment variables
*.env
# typescript
*.tsbuildinfo
next-env.d.ts
# sample data
sampleData/
public/images/