# dependencies
node_modules/
# testing
coverage/
# next.js
.next/
out/
# production
build/
# misc
.DS_Store
properties.json
# logs
*.log
# environment variables
*.env
# public
public/
# typescript
*.tsbuildinfo
next-env.d.ts